body {
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
  text-align:center;
}

h1 {
  color:#00f2fe;
  margin-top:30px;
}

.card {
  background:rgba(255,255,255,0.08);
  padding:20px;
  margin:20px auto;
  width:300px;
  border-radius:15px;
  backdrop-filter:blur(10px);
}

input {
  padding:10px;
  border-radius:10px;
  border:none;
  width:80%;
}

button {
  margin-top:10px;
  padding:10px 20px;
  border:none;
  border-radius:20px;
  background:linear-gradient(90deg,#ff00cc,#3333ff);
  color:white;
  cursor:pointer;
}

.premium {
  border:2px solid gold;
}
